<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tomato"
    >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-sdk tools:overrideLibrary="com.pierfrancescosoffritti.androidyoutubeplayer" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="遊口街碑"
        android:roundIcon="@drawable/round_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity android:name=".Activity.LoginOrSingin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pagefragments.mappage"
            android:label="@string/title_activity_maps">
        </activity>
        <activity android:name=".Activity.MainPage" />
        <activity android:name=".usersees.UserSeesArtistPage"
        android:theme="@style/AppTheme.SliderActivityTheme">
    </activity>
        <activity android:name=".Activity.SignUp"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
        <activity android:name=".Activity.Analysis"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
        <activity android:name=".usersees.UserSeesEditPage"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
        <activity android:name=".usersees.UserSeesArtistAboutPage"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
        <activity android:name=".Activity.Upload"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
        <activity android:name=".Activity.Comment"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
        <activity android:name=".Activity.Performer_Verify_Page"
            android:theme="@style/AppTheme.SliderActivityTheme">
        </activity>
    </application>


</manifest>